/*Signature fonts*/
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Other font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar{
    width: 2em;
    height: 10em;
}

::-webkit-scrollbar-track{
    background: var(--main-color);
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb{
    background: var(--second-bg-color);
    border: .35em solid var(--main-color);
    border-radius: 100vw;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #625A67;
    --second-bg-color: #F7EFE7;
    --text-color: #fff;
    --main-color:#BFB0A0;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header a{
    font-family: 'Poppins', cursive;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    font-family: 'Delicious Handrawn', cursive;
    margin-left: 4rem;
    transition: .3s;
}

.navbar select, .navbar option{
    font-family: 'Delicious Handrawn', cursive;
}

.navbar a:hover, .navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-2.4rem);
    }

    100%{
        transform: translateY(0);
    }
}

.home-content h3 span{
    font-family: 'Delicious Handrawn', cursive;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1{
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    font-size: 1.5rem;
    
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

#lang{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    background-color: #625A67;
    color: var(--text-color);
    margin: 17px;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #706776;
}

.about-img img{
    width: 35vw;
}

.heading{
    text-align: center;
    font-family: 'Delicious Handrawn', cursive;
    font-weight: 200;
    font-size: 4.5rem;
}

.about-content h2, span{
    font-family: 'Delicious Handrawn', cursive;
    font-weight: 500;
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.films h2{
    font-size: 4.1rem;
}

.award a{
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 3rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.5rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    position: relative;
    
}

.video-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s ease-in;
}

.video-container button{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .8s;
}

.video-container button.active{
    background-color: var(--bg-color);
}

.video-container button.active:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.video-container button:hover{
    cursor: pointer;
    box-shadow: none;
    
}
.player{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.player iframe{
    background-color: var(--second-bg-color);
}

.aboutf p{
    float: left;
    width: 500px;
    padding: 50px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.projects{
    background: #706776;
}

.projects h2{
    margin-bottom: 4rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container .projects-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.projects-box img{
    width: 100%;
    transition: .5s ease;
}

.projects-box:hover img{
    transform: scale(1.1);
}

.projects-box .projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projects-box:hover .projects-layer{
    transform: translateY(0);
}

.projects-layer h4{
    font-size: 3rem;
}

.projects-layer p{
    font-size: 1.6rem;
    margin: .3 0 1rem;
}

.projects-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.projects-layer a i {
    font-size: 2rem;
    color: var(--bg-color);
}

.artworks h2{
    margin-bottom: 4rem;
}

.artworks-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.artworks-container .artworks-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.artworks-box img{
    width: 350px;
    transition: .5s ease;
}

.artworks-box:hover img{
    transform: scale(1.1);
}

.artworks-box .artworks-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.artworks-box:hover .artworks-layer{
    transform: translateY(0);
}

.artworks-layer h4{
    font-size: 3rem;
}

.artworks-layer p{
    font-size: 1.6rem;
    margin: .3 0 1rem;
}

.artworks-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    color: white;
}

.artworks-layer a i {
    font-size: 2rem;
    color: var(--bg-color);
}

.awards{
    background: #706776;
}

.awards h2{
    text-align: center;
}

.awards-container{
    padding-top: 3rem;
}

.awards ul{
    list-style-type: none;
}
.awards b{
    color: var(--main-color);
    font-family: "Delicious Handrawn", cursive;
    font-weight: 500;
    font-size: 2rem;
}

.awards ul li{
    font-size: 2rem;
    font-weight: 500;
}

.awards-all{
    width: 50%;
    float: left;
    height: 100vh;
    padding-left: 2rem;
    box-sizing: border-box;
    margin: 0;  
}

.special-mentions{
    width:50%;
	float:left;
	height:100vh;
	margin:0;
	padding:0;
  box-sizing: border-box;
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: #706776;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input::placeholder{
    color: var(--second-bg-color);
}

.contact form textarea::placeholder{
    color: var(--second-bg-color);
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #706776;
}

.footer-text p{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 2rem;
    font-weight: 400;
}

.footer-text span{
    font-family: 'Freehand', cursive;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: #706776;
}


/* MEDIA */

@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width:991px) {
    .header{
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }
    .video-container button{
        padding: 1rem 2.8rem;
        border-radius: 2.5rem;
        font-weight: 400;
        font-size: 1.3rem;
    }

    .projects{
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}


@media (max-width:768px) {
    #menu-icon {
        display: block;
    }

    #menu-icon:hover{
        cursor: pointer;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .player iframe{
        width: 420px;
        height: 236px;
    }

    .award a{
        margin-top: 1%;
        margin-left: 50%;
    }

    .aboutf p{
        float: left;
        width: 300px;
        padding: 40px;
        font-size: 1.3rem;
    }

    .video-container button{
        padding: 1rem 2.8rem;
        border-radius: 2.5rem;
        font-weight: 400;
        font-size: 1.3rem;
    }

    .projects h2{
        margin-bottom: 3rem;
    }

    .projects-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 617px){
    .projects-container{
        grid-template-columns: 1fr;
    }

    .player iframe{
        width: 280px;
        height: 158px;
    }

    .award a{
        margin-top: 1%;
        margin-left: 50%;
    }

    .aboutf p{
        float: middle;
        width: 300px;
        padding: 40px;
        font-size: 1.3rem;
    }

    .video-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 2rem;
    }

    .video-container button{
        padding: 1rem 2rem;
        border-radius: 2rem;
        font-weight: 300;
        font-size: 1rem;
    }

    .awards ul li{
        font-size: 1.5rem;
        font-weight: 500;
    }

    .awards h2{
        text-align: center;
    }
    
    .awards-all{
        width: 50%;
        float: left;
        height: 100vh;
        padding-left: 1rem;
        box-sizing: border-box;
        margin: 0;  
    }
    
    .special-mentions{
        width:50%;
        float:left;
        height:100vh;
        margin:0;
        padding:0;
      box-sizing: border-box;
    }

}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }

        .player iframe{
        width: 250px;
        height: 147px;
    }

    .award a{
        margin-top: 1%;
        margin-left: 50%;
    }

    .aboutf p{
        float: middle;
        width: 250px;
        padding: 40px;
        font-size: 1.3rem;
    }

    .video-container button{
        padding: .5rem 1.5rem;
        border-radius: 1.7rem;
        font-weight: 230;
        font-size: 1rem;
    }

    .awards ul li{
        font-size: 2rem;
        font-weight: 500;
    }
}

@media (max-width: 365px) {
    ::-webkit-scrollbar{
        display: none;
    }
    
    body{
        overflow-x: hidden;
    }

    .home-img img{
        width: 90vw;
    }

    .about img{
        width: 90vw;
    }

    .video-container button {
        margin-left: 5px;
        display: flex;
        justify-content: space-around;
    }

    .aboutf p{
        width: 150px;
        padding: 35px;
        font-size: 1rem;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
    
    .awards-container{
        padding-top: 2rem;
    }

    .awards ul li{
        font-size: 1.3rem;
        font-weight: 500;
    }

    .awards h2{
        text-align: center;
    }
    
    .special-mentions{
        width:50%;
        float:left;
        height:100vh;
        margin:0;
        padding:0;
      box-sizing: border-box;
    }
}